
.fsvs body{
	width: 100%;
	height: 100%;
}

.fsvs header{
	position: absolute;
	z-index: 3;
	height: 100%;
	width:100%;
}
.global-header .site-title{
	position: absolute;
	left:20px;
	top:20px;
	
}
.global-header .btn-nav{
	position: absolute;
	right:20px;
	top:20px;
}
.btn-nav .icon-nav{
	display:block;
	width:32px;
	height:28px;
	
}
.icon-nav i{
	display:block;
	background-color:#666;
	width:100%;
	height:4px;
}
.icon-nav i.icon-nav-line1{
	margin:0px;
}
.icon-nav i.icon-nav-line2{
	margin:6px 0;
}
.icon-nav i.icon-nav-line3{
	margin:0px;
}
