<!DOCTYPE html>
	<html class="fsvs">
		<head>
			<title>{{ site.name }}{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/js/FSVS/style.css">
			<script src="{{ site.baseurl }}/js/jQuery/jquery-3.1.0.min.js"></script>
        		<script src="{{ site.baseurl }}/js/jQuery/jquery-migrate-1.2.1.min.js"></script>
        		<script src="{{ site.baseurl }}/js/FSVS/bundle.js"></script>
        		<script>
					$(document).ready( function() {
						var fsvs = $.fn.fsvs({
					        speed : 1000,
					        bodyID : 'fsvs-body',
					        selector : '> .slide'
					    });
					});
        		</script>
			<!-- Start of cebrick Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","cebrick.zendesk.com");
/*]]>*/</script>
<!-- End of cebrick Zendesk Widget script -->
        		<style>
        			{{ page.css }}
        		</style>
		</head>
		<body>
			<header class="global-header">
				<h1 class="site-title">{{ site.name }}</h1>
				<div class="btn-nav">
					<div class="icon-nav">
						<i class="icon-nav-line1"></i>
						<i class="icon-nav-line2"></i>
						<i class="icon-nav-line3"></i>
					</div>
				</div>
				<nav class="global-nav">
					<ul class="main-menu">
						<li class="main-menu-item"><a href="">首页</a></li>
						<li class="main-menu-item"><a href="">服务</a></li>
						<li class="main-menu-item"><a href="">案例</a></li>
					</ul>
				</nav>
			</header>
			<section  id="fsvs-body">
				{{ content }}
			</section>
	
		</body>
	</html>
