<!DOCTYPE html>
	<html class="fsvs">
		<head>
			<title>{{ site.name }}{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/js/FSVS/style.css">
			<script src="{{ site.baseurl }}/js/jQuery/jquery-3.1.0.min.js"></script>
        		<script src="{{ site.baseurl }}/js/jQuery/jquery-migrate-1.2.1.min.js"></script>
        		<script src="{{ site.baseurl }}/js/FSVS/bundle.js"></script>
        		<script>
					$(document).ready( function() {
						var fsvs = $.fn.fsvs({
					        speed : 1000,
					        bodyID : 'fsvs-body',
					        selector : '> .slide'
					    });
					});
        		</script>
        		<style>
        			{{ page.css }}
        		</style>
		</head>
		<body>
			<header class="global-header">
				<h1 class="site-title">{{ site.name }}</h1>
				<div class="btn-nav">
					<div class="icon-nav">
						<i class="icon-nav-line1"></i>
						<i class="icon-nav-line2"></i>
						<i class="icon-nav-line3"></i>
					</div>
				</div>
				<nav class="global-nav">
					<ul class="main-menu">
						<li class="main-menu-item"><a href="">首页</a></li>
						<li class="main-menu-item"><a href="">服务</a></li>
						<li class="main-menu-item"><a href="">案例</a></li>
					</ul>
				</nav>
			</header>
			<section  id="fsvs-body">
				{{ content }}
			</section>
			<script type='text/javascript'>
			    (function(m, ei, q, i, a, j, s) {
			        m[i] = m[i] || function() {
			            (m[i].a = m[i].a || []).push(arguments)
			        };
			        j = ei.createElement(q),
			            s = ei.getElementsByTagName(q)[0];
			        j.async = true;
			        j.charset = 'UTF-8';
			        j.src = '//static.meiqia.com/dist/meiqia.js';
			        s.parentNode.insertBefore(j, s);
			    })(window, document, 'script', '_MEIQIA');
			    _MEIQIA('entId', 27331);
			</script>
		</body>
	</html>
