<!DOCTYPE html>
	<html class="fsvs">
		<head>
			<title>{{ site.name }}{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="./css/main.css">
			<link rel="stylesheet" type="text/css" href="./js/FSVS/style.css">
			<script src="./js/jQuery/jquery-3.1.0.min.js"></script>
        		<script src="./js/jQuery/jquery-migrate-1.2.1.min.js"></script>
        		<script src="./js/FSVS/bundle.js"></script>
        		<script>
        			$(document).ready( function() {
					var fsvs = $.fn.fsvs({
						speed : 5000,
						bodyID : 'fsvs-body',
						selector : '> .slide',
						mouseSwipeDisance : 40,
						afterSlide : function(){},
						beforeSlide : function(){},
						endSlide : function(){},
						mouseWheelEvents : true,
						mouseDragEvents : true,
						touchEvents : true,
						arrowKeyEvents : true,
						pagination : true,
						nthClasses : false,
						detectHash : true
					});
				});
        		</script>
		</head>
		<body >
			
			{% include nav.ext %}
			<div class="container" id="fsvs-body">
			
			{{ content }}
			
			</div><!-- /.container -->
			{% include footer.ext %}
		</body>
	</html>
